In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.utils import shuffle

In [2]:
train=pd.read_csv("filteredclassificationdata.csv")

In [3]:
train.head()

,label1,a11,a4,a15,a21,a17,a3,a20,a2,a12,...,a9,s9,a14,s14,sd6,a6,sd9,sd14,s6,sd13
0,0,0.401786,0.289887,0.420517,0.778606,0.263158,0.475892,0.777542,0.143969,0.650294,...,0.094489,0.109755,0.197843,0.199608,0.0,1.0,0.000000,0.000000,1,0.000000
1,0,0.409226,0.317735,0.449510,0.782999,0.263158,0.506134,0.745763,0.208171,0.733049,...,0.089086,0.100242,0.177780,0.162813,0.0,1.0,0.118087,0.508246,1,0.160656
2,0,0.357143,0.334766,0.437174,0.733906,0.175439,0.479791,0.717514,0.255512,0.773091,...,0.102356,0.140043,0.174356,0.171793,0.0,1.0,0.364881,0.374753,1,0.120224
3,0,0.305060,0.330508,0.372549,0.723543,0.197368,0.429529,0.684852,0.279183,0.822477,...,0.104581,0.124518,0.173489,0.174889,0.0,1.0,0.305764,0.307559,1,0.133773
4,0,0.296131,0.347031,0.391477,0.728978,0.236842,0.399715,0.669492,0.294942,0.816337,...,0.111697,0.149960,0.172934,0.174734,0.0,1.0,0.361364,0.267278,1,0.117620

In [4]:
train = shuffle(train)

In [5]:
train.columns

Index(['label1', 'a11', 'a4', 'a15', 'a21', 'a17', 'a3', 'a20', 'a2', 'a12',
       'a7', 's11', 's4', 's12', 's7', 's15', 's21', 's20', 's17', 's2', 'a8',
       'a13', 's3', 's8', 's13', 'cycle', 'a9', 's9', 'a14', 's14', 'sd6',
       'a6', 'sd9', 'sd14', 's6', 'sd13'],
      dtype='object')

In [6]:
y_train=train['label1']

In [7]:
train=train.drop(['label1'],axis=1)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(train, y_train, test_size=0.05, random_state=42)

In [9]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19599 entries, 11436 to 19803
Data columns (total 35 columns):
a11      19599 non-null float64
a4       19599 non-null float64
a15      19599 non-null float64
a21      19599 non-null float64
a17      19599 non-null float64
a3       19599 non-null float64
a20      19599 non-null float64
a2       19599 non-null float64
a12      19599 non-null float64
a7       19599 non-null float64
s11      19599 non-null float64
s4       19599 non-null float64
s12      19599 non-null float64
s7       19599 non-null float64
s15      19599 non-null float64
s21      19599 non-null float64
s20      19599 non-null float64
s17      19599 non-null float64
s2       19599 non-null float64
a8       19599 non-null float64
a13      19599 non-null float64
s3       19599 non-null float64
s8       19599 non-null float64
s13      19599 non-null float64
cycle    19599 non-null float64
a9       19599 non-null float64
s9       19599 non-null float64
a14      19599 non-null float64
s14      19599 non-null float64
sd6      19599 non-null float64
a6       19599 non-null float64
sd9      19599 non-null float64
sd14     19599 non-null float64
s6       19599 non-null int64
sd13     19599 non-null float64
dtypes: float64(34), int64(1)
memory usage: 5.4 MB

In [10]:
from sklearn.neural_network import MLPClassifier

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
n_network= MLPClassifier()

In [13]:
n_network.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [14]:
pred=n_network.predict(X_test)

In [15]:
accuracy_score(y_test, pred)

0.9563953488372093

In [16]:
n_network.score(X_train,y_train)

0.9672942497066177

In [17]:
# import pickle
# filename = 'rf_model.sav'
# pickle.dump(DecisionTree, open(filename, 'wb'))